comment "Qualcomm Atheros Prima WLAN module"

if CFG80211 && WCNSS_CORE_PRONTO

config PRIMA_WLAN
	tristate "Qualcomm Atheros Prima WLAN module"
	default n
	help
	  Add support for the Qualcomm Atheros Prima WLAN module

config PRONTO_WLAN
	tristate "Qualcomm Atheros Pronto WLAN module"
	default n
	help
	  Add support for the Qualcomm Atheros Pronto WLAN module

endif # CFG80211 && WCNSS_CORE_PRONTO
